.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
  list-style: none;
  margin-top: 40px;
}

.noImages {
  text-align: center;
  font-size: 18px;
  color: #888;
  padding: 20px;
}
